/* Variables and mixins declared here will be available in all other SCSS files */
$primary-500: #ff6533;
$primary-600: #ff3e00;
$primary-700: #cc3200;

// red: {
//           100: "#ffd8cc",
//           200: "#ffb299",
//           300: "#ff8b66",
//           400: "#ff6533",
//           500: "#ff3e00",
//           600: "#cc3200",
//           700: "#992500",
//           800: "#661900",
//           900: "#330c00"
// }